* {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,616;1,616&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: #000000;
        color: $mainColor ;
    }

}

body {
    font-family: Arial, sans-serif; 
    background-color: #faf4ee; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    
    h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; 
    color: #1a1a1a; 
    }
     p {
    color: $mainColor;
    }
    
}

img, iframe {
    max-width: 100%; /* Súper importante para que el video de YouTube y las fotos no rompan el celular */
    height: auto;
}